{
box-sizing:border-box;
}

html{
  margin: 0;
  padding: 0;
background-color:rgb(197, 230, 250);
}

body{ 
  
   background-color:rgb(143, 204, 242);
  text-align: center;
  outline: 5px;
  outline-color: tan;
  outline-style:double
}


  
h1{
  color: ghostwhite;
  -webkit-text-stroke: 1px tan;
  font-size: 40px;
}


h2 {
  margin: 0;
  left: 10px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 22px;
  font-family:Arial, Helvetica, sans-serif;
}

h3{
 text-align: center;
 color: tan;
}

/*
.title{
  text-align:center;
  margin-top: 50px;
  margin-bottom: 50px;
  text-shadow: 3px 5px 2px #ffeedeb3;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 200px;
}
.wrapper {
  margin: 0 auto;
  width: 1000px;
}

.img-pink {
  width: 800px;
  height: 400px;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.background-image {
  margin: 0;
  padding: 0;
  background-image: url(img/pink-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 200px;
  position: relative;
  text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-family: 'Satisfy', cursive;
  color: rgba(255, 255, 255, 0.553);
  text-shadow: 1px .5px .2px #ac48d0b3;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.553);
  font-size: 100px;
  line-height: 62px;
  font-family: 'Satisfy', cursive;
  text-shadow: 3px 5px 2px #ac48d0b3;
}*/

.button {
  position: fixed;
  top: 40%;
  right: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  border: black;
  color: white;
  -webkit-text-stroke: 1px rgb(27, 27, 27);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  margin: 4px 2px;
  cursor: pointer;
  transform: translate(25%, -40%);
  height: 70px;
  width: 200px;
  border-radius: 150px 150px 0 0;
}

.button:hover{
  position: fixed;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: none;
  color:#0f0400;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

#introbutton{
  top:40%;
  right:150px;
}

#instruction{
    top:50%;
  text-align: center;
  font-size: larger;
  color: aliceblue;
  position:fixed;
  width: 50px;
  height: 190px;
  right: 180px;
  background-color: rgb(216, 195, 168);
  padding-top: -50px;
  
}



/*.header1 {
  text-align:center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
  font-size: 75px;
  line-height: 22px;
  font-family:'Satisfy', cursive;
  text-shadow: 3px 5px 2px #bf73dbb3;
}
.par1 {
  color: rgb(255, 255, 255);
  margin-right: 50px;
  margin-left: 50px;
  font-size: 25px;
  text-align: center;
}

.wrapper2 {
  margin: 0 auto;
  width: 1000px;
}

.grid-img {
  width: 500px;
  height: 500px;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/